[submodule "bundle/snipMate.vim"]
    path = bundle/snipMate.vim
    url = git@github.com:garbas/vim-snipmate.git

[submodule "bundle/TaskList.vim"]
    path = bundle/TaskList.vim
    url = git://github.com/vim-scripts/TaskList.vim.git

[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose--Alves.git

[submodule "bundle/vim-cute-python"]
    path = bundle/vim-cute-python
    url = git://github.com/ehamberg/vim-cute-python.git

[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git

[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git

[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree

[submodule "bundle/minibuf"]
	path = bundle/minibuf
	url = git://github.com/fholgado/minibufexpl.vim.git

[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git

[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = git://github.com/vim-scripts/desertEx.git

[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git

[submodule "pathogen"]
    path = pathogen
    url = git://github.com/tpope/vim-pathogen.git

[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git

[submodule "bundle/Haskell-Conceal"]
	path = bundle/Haskell-Conceal
	url = git://github.com/vim-scripts/Haskell-Conceal.git

[submodule "bundle/TaskList"]
	path = bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git

[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = git://github.com/ehamberg/vim-cute-python.git

[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git

[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/YouComplete/Me"]
	path = bundle/YouComplete/Me
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
